@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  text-align: left;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f9fafb;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Slab', serif;
  font-weight: 500;
}

p, div, span, a, button, input, select, textarea {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}
